<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>User's Files</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<style>
body{
	font-family:Arial,Helvetica,sans-serif;
	font-size: 14px;
}
</style>
</head>
<body>
	<body bgcolor="#41A317">
	{{ state }}
	<form action="/api/files/" method="get">
		Here are your files {{username}}
		<br>
		<br>
		<table align="left" border="2">						
			<tr align="center" >
				<td style="padding:0 15px 0 15px"><b> Filename </b></td>
				<td style="padding:0 15px 0 15px"><b> File # </b></td>
			</tr>
			<tr>
				{% for entry in data %}
				<td> {{entry.filename    }} </td>					
				<td> {{entry.numFiles}} </td>
			</tr>
				{%endfor%}



			{% comment %}
			TO BE DELETED LATER
			{% for numFiles, filename in data %}
				<tr><td> {{numFiles}}:  {{filename}}</td></tr>
			{% endfor %}
			{% endcomment %}

			{% comment %}
			{% for entry in data %}
			<tr><pre>{{ entry.filename }}         {{entry.numFiles}}</pre></tr>				
			{%endfor%}
			{% endcomment %}			
		</table>
	</form>
</body>
</html>