{% comment %}
  Page to logout users.
{% endcomment %}
<!DOCTYPE html>
<html class="logout_view">

<head>
<meta charset="UTF-8">
<title>Logout</title>
<link rel="stylesheet" href="/static/logout.css/">
<img src="/static/image/heatmappheader.png" width = "200px" alt="Heatmapp">
</head>
<body>	
	<title>Logged out</title>
	<h2>You have successully logged out! <br>
	To return to the login page please click the button below.</h2>	
	<div >
		<form action="/login/">			
			<input type="submit" class="button" value="Home">
		</form>
	</div>

</head>
</html>

