{% comment %}
  Page to shows users list of their devices.
{% endcomment %}

<!doctype html>
<html class="session_view">
<head>
<meta charset="UTF-8">
<title>View Devices</title>

<link rel="stylesheet" href="/static/session.css/">
</head>
<body>
{% block content %}
  <section>
  	<img src="/static/image/heatmappheader.png" width = "200px" alt="Heatmapp">
    <h2>Welcome {{ user.username }} </h2>
    <p> </p>
  </section>
{% endblock %}

{% block body %}
<section>
	{% if form.errors %}
		<p>You must be logged in to view your sessions.</p>
	{% endif %}

<div style = "width:950px;" >				
    <form class = "back" action="/login/session/device/" style="display:inline;">
      <input type="submit" value="Back" class="button" />
    </form>	
    <form action="/logout/" style ="display:inline;">		
		<input type="submit" class="button" value="Logout">
	</form>  		
</div>

<br><br><br>
<table class="gradienttable">
<tr>
	<th><p style="padding:0 15px 0 15px"><b> Owner </b></p></th>
	<th><p style="padding:0 15px 0 15px"><b> id </b></p></th>	
	<th><p style="padding:0 15px 0 15px"><b> Serial </b></p></th>			
	<th><p style="padding:0 15px 0 15px"><b> Version</b></p></th>	
	<th><p style="padding:0 15px 0 15px"><b> Screen Width </b></p></th>		
	<th><p style="padding:0 15px 0 15px"><b> Screen Height </b></p></th>	
</tr>
<tr>
	{% for device in devices %}
	<tr>	
		<td><p><b>{{ device.user }} </p></td>		
		<td><p><b>Device_{{ device.id }} </p></td>
		<td><p><b>{{ device.serial }} </p></td>
		<td><p><b>{{ device.version }} </p></td>
		<td><p><b>{{ device.screenWidth }} </p></td>
		<td><p><b>{{ device.screenHeight }} </p></td>
		
	</tr>
	{%endfor%}	
</tr>
</table>	
{% endblock %}
</section>
</html>
